#footer {
  position: absolute;
  bottom: 0;
  margin: auto 0;
  width: 100%;

  .prpr {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: $zindex-3;
    @include sp-layout {
      display: none;
    }

    .waifu {
      position: relative;
      height: 250px;
      transform: translateY(3px);

      .tips {
        position: absolute;
        margin: 0 15px;
        padding: 5px 10px;
        width: 250px;
        min-height: 70px;
        border-radius: 8px;
        background-color: $bg-white-dim;
        box-shadow: $card-shadow;
        text-overflow: ellipsis;
        overflow: hidden;
        opacity: 1;
        animation: shake 50s ease-in-out 0s infinite;
        z-index: $zindex-bottom;

        &.pio {
          margin-top: -6px;
        }
        &.tia {
          margin-top: -12px;
        }
      }
    }

    .tool {
      position: absolute;
      bottom: 0;
      left: 0;

      .menu {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background-color: $bg-white-deep;
        transition: all 0.3s ease-out;
        transform: translateX(-36px) scaleY(0.5);
        transform-origin: bottom;

        &:hover {
          background-color: $purple-dark;
          transform: translateX(0) scaleY(1);
          .devil {
            display: none;
          }
        }

        ul {
          margin-bottom: 66px;
          width: 50px;
          list-style: none;
          text-align: center;
          border-top-right-radius: 3px;
          border-bottom-right-radius: 3px;
          overflow: hidden;

          li {
            padding: 2px 0;
            &:hover {
              background-color: $purple-dim;
            }
            .icon {
              color: $whitesmoke;
            }
          }
        }

        .devil {
          position: absolute;
          top: 50%;
          right: 0;
          width: 15px;
          transform: translateY(-50%) scaleY(2);

          .icon {
            color: $purple;
            &::before {
              font-size: $font-size-small;
              transform: rotate(-90deg);
            }
          }
        }
      }

      .aplayer {
        max-width: 310px;
        background-color: transparent;
        transition: all 0.3s ease-out;
        &:hover {
          transform: translateX(0);
        }

        .aplayer-miniswitcher {
          width: 15px;
          background-color: $purple-dark;
          path {
            fill: white;
          }
        }

        .aplayer-body {
          padding-right: 15px;
          width: 310px;
          border-radius: 0 3px 3px 0;
          background-color: $bg-white-deep;
        }

        .aplayer-list {
          border: none;
          border-top-right-radius: 3px;
          background-color: $bg-white-deep;
          background-image: $aplayer-bg;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;

          li {
            border: none;
            &:hover,
            &.aplayer-list-light {
              background-color: $bg-aplayer;
              span {
                color: white;
              }
            }
            .aplayer-list-cur {
              background-color: $purple-dark !important;
            }
          }
        }
      }

      .mini {
        transform: translateX(-100%);
      }
    }
  }

  .site-info {
    .smile {
      animation: smile 5s infinite ease-in-out;
      display: inline-block;
      margin: 0 5px;
    }
    text-align: center;
    @include pc-layout {
      padding-bottom: 6px;
      font-size: $font-size-normal;
    }
    @include sp-layout {
      padding-bottom: 4px;
      font-size: $font-size-base;
    }

    a {
      transition: color 0.3s ease-out;
      &:hover {
        color: $link-color;
      }
    }

    .icon-heart {
      margin-left: 5px;
    }
    @-webkit-keyframes smile {

      2%,
      24%,
      80% {
      -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
      transform: translate(0, 1.5px) rotate(1.5deg)
      }
  
      4%,
      68%,
      98% {
      -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
      transform: translate(0, -1.5px) rotate(-.5deg)
      }
  
      38%,
      6% {
      -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
      transform: translate(0, 1.5px) rotate(-1.5deg)
      }
  
      8%,
      86% {
      -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
      transform: translate(0, -1.5px) rotate(-1.5deg)
      }
  
      10%,
      72% {
      -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
      transform: translate(0, 2.5px) rotate(1.5deg)
      }
  
      12%,
      64%,
      78%,
      96% {
      -webkit-transform: translate(0, -.5px) rotate(1.5deg);
      transform: translate(0, -.5px) rotate(1.5deg)
      }
  
      14%,
      54% {
      -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
      transform: translate(0, -1.5px) rotate(1.5deg)
      }
  
      16% {
      -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
      transform: translate(0, -.5px) rotate(-1.5deg)
      }
  
      18%,
      22% {
      -webkit-transform: translate(0, .5px) rotate(-1.5deg);
      transform: translate(0, .5px) rotate(-1.5deg)
      }
  
      20%,
      36%,
      46% {
      -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
      transform: translate(0, -1.5px) rotate(2.5deg)
      }
  
      26%,
      50% {
      -webkit-transform: translate(0, .5px) rotate(.5deg);
      transform: translate(0, .5px) rotate(.5deg)
      }
  
      28% {
      -webkit-transform: translate(0, .5px) rotate(1.5deg);
      transform: translate(0, .5px) rotate(1.5deg)
      }
  
      30%,
      40%,
      62%,
      76%,
      88% {
      -webkit-transform: translate(0, -.5px) rotate(2.5deg);
      transform: translate(0, -.5px) rotate(2.5deg)
      }
  
      32%,
      34%,
      66% {
      -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
      transform: translate(0, 1.5px) rotate(-.5deg)
      }
  
      42% {
      -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
      transform: translate(0, 2.5px) rotate(-1.5deg)
      }
  
      44%,
      70% {
      -webkit-transform: translate(0, 1.5px) rotate(.5deg);
      transform: translate(0, 1.5px) rotate(.5deg)
      }
  
      48%,
      74%,
      82% {
      -webkit-transform: translate(0, -.5px) rotate(.5deg);
      transform: translate(0, -.5px) rotate(.5deg)
      }
  
      52%,
      56%,
      60% {
      -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
      transform: translate(0, 2.5px) rotate(2.5deg)
      }
  
      58% {
      -webkit-transform: translate(0, .5px) rotate(2.5deg);
      transform: translate(0, .5px) rotate(2.5deg)
      }
  
      84% {
      -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
      transform: translate(0, 1.5px) rotate(2.5deg)
      }
  
      90% {
      -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
      transform: translate(0, 2.5px) rotate(-.5deg)
      }
  
      92% {
      -webkit-transform: translate(0, .5px) rotate(-.5deg);
      transform: translate(0, .5px) rotate(-.5deg)
      }
  
      94% {
      -webkit-transform: translate(0, 2.5px) rotate(.5deg);
      transform: translate(0, 2.5px) rotate(.5deg)
      }
  
      0%,
      100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0)
      }
      }
  
      @keyframes smile {
  
      2%,
      24%,
      80% {
      -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
      transform: translate(0, 1.5px) rotate(1.5deg)
      }
  
      4%,
      68%,
      98% {
      -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
      transform: translate(0, -1.5px) rotate(-.5deg)
      }
  
      38%,
      6% {
      -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
      transform: translate(0, 1.5px) rotate(-1.5deg)
      }
  
      8%,
      86% {
      -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
      transform: translate(0, -1.5px) rotate(-1.5deg)
      }
  
      10%,
      72% {
      -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
      transform: translate(0, 2.5px) rotate(1.5deg)
      }
  
      12%,
      64%,
      78%,
      96% {
      -webkit-transform: translate(0, -.5px) rotate(1.5deg);
      transform: translate(0, -.5px) rotate(1.5deg)
      }
  
      14%,
      54% {
      -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
      transform: translate(0, -1.5px) rotate(1.5deg)
      }
  
      16% {
      -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
      transform: translate(0, -.5px) rotate(-1.5deg)
      }
  
      18%,
      22% {
      -webkit-transform: translate(0, .5px) rotate(-1.5deg);
      transform: translate(0, .5px) rotate(-1.5deg)
      }
  
      20%,
      36%,
      46% {
      -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
      transform: translate(0, -1.5px) rotate(2.5deg)
      }
  
      26%,
      50% {
      -webkit-transform: translate(0, .5px) rotate(.5deg);
      transform: translate(0, .5px) rotate(.5deg)
      }
  
      28% {
      -webkit-transform: translate(0, .5px) rotate(1.5deg);
      transform: translate(0, .5px) rotate(1.5deg)
      }
  
      30%,
      40%,
      62%,
      76%,
      88% {
      -webkit-transform: translate(0, -.5px) rotate(2.5deg);
      transform: translate(0, -.5px) rotate(2.5deg)
      }
  
      32%,
      34%,
      66% {
      -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
      transform: translate(0, 1.5px) rotate(-.5deg)
      }
  
      42% {
      -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
      transform: translate(0, 2.5px) rotate(-1.5deg)
      }
  
      44%,
      70% {
      -webkit-transform: translate(0, 1.5px) rotate(.5deg);
      transform: translate(0, 1.5px) rotate(.5deg)
      }
  
      48%,
      74%,
      82% {
      -webkit-transform: translate(0, -.5px) rotate(.5deg);
      transform: translate(0, -.5px) rotate(.5deg)
      }
  
      52%,
      56%,
      60% {
      -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
      transform: translate(0, 2.5px) rotate(2.5deg)
      }
  
      58% {
      -webkit-transform: translate(0, .5px) rotate(2.5deg);
      transform: translate(0, .5px) rotate(2.5deg)
      }
  
      84% {
      -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
      transform: translate(0, 1.5px) rotate(2.5deg)
      }
  
      90% {
      -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
      transform: translate(0, 2.5px) rotate(-.5deg)
      }
  
      92% {
      -webkit-transform: translate(0, .5px) rotate(-.5deg);
      transform: translate(0, .5px) rotate(-.5deg)
      }
  
      94% {
      -webkit-transform: translate(0, 2.5px) rotate(.5deg);
      transform: translate(0, 2.5px) rotate(.5deg)
      }
  
      0%,
      100% {
      -webkit-transform: translate(0, 0) rotate(0);
      transform: translate(0, 0) rotate(0)
      }
  }
  }

  .sakura {
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 28px;
    height: 28px;
    animation: rotate 2s linear 0s infinite;
    @include sp-layout {
      display: none;
    }
  }
}
